<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">Check a Poker Hand</div>
      <div class="panel-body">
        <%= form_for(@gamepoker, url: api_v1_gamepokers_judge_path, html: {method: "get"}) do |f| %>
          <div class="form-group">
            <%= f.label :card %><br />
            <%= f.text_field :card, autofocus: true, autocomplete: "off", placeholder: "S1 D1 H2 H4 C9", class: 'form-control' %>
          </div>
          <div class="actions">
            <%= f.submit "Check" %>
          </div>
        <% end %>

        <div class="text-center">
          <% if @yaku %>
            <%= @yaku %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
